.listaInputs {
  list-style: none;
}


.btnDefault,
.btnSalvar {
  border-radius: 2rem;
  display: grid;
  place-items: center;
  padding: .7rem 1rem;
  margin-left: auto;
  border: 1px solid #ffffff23;
  transition: .1s;
}

.btnDefault:hover,
.btnSalvar:hover {

  background: #ffffff0c;
}

.btnSalvar {
  margin-top: 2rem;
  margin-bottom: 1rem;
}