.container {
  justify-content: flex-end;
  display: grid;
  grid-template-columns: auto auto;
}

.aviso {
  grid-column: 1 / -1;
  color: rgb(255, 103, 77);
  font-size: .9rem;
  font-weight: 400;
  margin-top: .5rem;
}

.inputField {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.inputField input {
  -moz-appearance: textfield;
  background: none;
  padding: .1rem;
  width: 4rem;
  color: white;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  outline: none;
  border: 1px solid transparent;
  border-radius: 1rem;
  transition: .1s;
  margin-right: .2rem;
}

.inputField+.inputField {
  margin-left: 1rem;
}

.inputField input:hover {
  border: 1px solid #ffffff23;
}

.inputField input:focus {
  border: 1px solid #ffffff23;
  background: #ffffff0c;
}

.inputField input::-webkit-outer-spin-button,
.inputField input::-webkit-inner-spin-button {
  display: none;
}

.inputField label {
  font-size: 1rem;
}

.inputField input.invalid {
  border: 1px solid rgb(255, 103, 77);
  background: rgb(255, 103, 77, 0.1);
}

@media all and (max-width: 580px) {
  .inputField label {
    font-size: .8rem;
  }

  .inputField input {
    font-size: 1.5rem;
    width: 3rem;
  }
}