.listaInputs {
  list-style: none;
}


.btnDefault,
.btnSalvar {
  border-radius: 2rem;
  display: grid;
  place-items: center;
  padding: .7rem 1rem;
  margin-left: auto;
  border: 1px solid #ffffff23;
  transition: .1s;
}

.btnDefault:hover,
.btnSalvar:hover {

  background: #ffffff0c;
}

.btnSalvar {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.volumeField label {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
  display: block;
}

.volumeField input {
  width: 100%;
  -webkit-appearance: none !important;
  background: #ffffff23;
  border-radius: 10px;
  height: 8px;
}

.volumeField input::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: white;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
}

.volumeValue {
  font-size: 1.8rem;
}