.lista li+li {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #ffffff23;
}

.lista li strong {
  font-weight: 400;
}

.lista {
  list-style: none;
}

.lista li {
  position: relative;
}

.lista li::after {
  content: '';
  display: block;
  position: absolute;
  right: -1.8rem;
  top: calc(50% - 4px);
  width: 8px;
  height: 8px;
  background: linear-gradient(135deg, #78FF6C 0%, #FAC641 100%);
  transform: rotate(45deg);
}

.btnVoltar {
  position: absolute;
  left: 1.5rem;
  top: 3rem;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
}

.btnVoltar svg {
  transform: scale(.5);
  fill: #ffffff23;
}