.footer {
  margin-top: 3rem;
  text-align: center;
  color: #e9e6df83;
}

.footer a {
  border-radius: .2rem;
  border: 1px solid transparent;
  padding: 0 0.1rem;
}

.footer a:hover {
  color: #E9E6DF;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
}