.footer {
  justify-self: flex-end;
}

.footer a {
  display: flex;
  align-items: center;
  display: inline-block;
}

.footer svg {
  transform: scale(1.2);
  margin-left: .5rem;
}

@media all and (max-width: 580px) {
  .footer {
    text-align: center;
  }
}