.h1 {
  font-weight: 100;
  font-size: 2rem;
}

.timer {
  font-size: 3.4rem;
  margin-bottom: 1rem;
}

.timerContainer {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
}

.btnPlay {
  border: 1px solid #ffffff23;
  padding: .6rem 4rem .6rem 2rem;
  border-radius: 2rem;
  position: relative;
  transition: .1s;
}

.btnPlay:hover {
  background: #ffffff0c;
}

.btnPlay:disabled {
  background: #ffffff0c;
  color: #ffffff93;
  cursor: not-allowed;
}

.btnPlay:disabled span {
  box-shadow: none;
  background: rgb(57, 59, 61);
}

.btnPlay:disabled svg {
  box-shadow: none;
  fill: #27282e;

}

.btnPlay svg {
  fill: #060811;
  transform: scale(2);
}

.btnPlay span {
  border-radius: 50%;
  display: grid;
  place-items: center;
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  right: -.5rem;
  top: -.3rem;
  background: linear-gradient(180deg, #78FF6C 0%, #FAC641 100%);
  box-shadow: 0px 0px 30px rgba(255, 249, 108, 0.2);
}