@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  background: radial-gradient(100% 100% at 50% 0%, #2f3038 0%, #000000 100%);
  color: white
}

button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
  background: transparent;
  border: none
}

a {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border: 1px solid #ffffff23;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #78FF6C;
}